@model core_strength_yoga_products_management.Models.Image;
@{
    var path = Model.Path;
    var alt = Model.Alt;
    var imageName = Model.ImageName;
}

<div class="m-1">
    <input type="hidden" name="ImageId" id="ImageId" value="@Model.Id" />
    <input type="hidden" name="Path" id="Path" value="@Model.Path"/>
    <div>
    @if (Model.Id == 0)
    {
        <img src="#" alt="" width="0" height="0" id="img-1"/>

            <label for="myFile" class="btn btn-success mb-1">
                <input id="myFile" type="file" name="@Model.ImageName" accept="image/*" class="btn btn-success mb-3">
                Choose Image
            </label>

            <p id="upload-image-success" class="">Your image has been uploaded!</p>
            <button id="upload-img" class="btn btn-warning mb-1" type="button">Upload Image</button>

        <div class="form-group mb-3"> 
            @*@Html.LabelFor(m => m.ImageName)*@
            <input type="hidden" name="ImageName" id="ImageName" value="@Model.ImageName" width="200" />
        </div>

        <div class="form-group mb-3">
            @*@Html.LabelFor(m => m.Alt)*@
                <input type="hidden" name="Alt" id="Alt" value="@Model.Alt" width="200" />
        </div>
    }
    else
    {
        <img src="@Model.Path" alt="@Model.Alt" width="200" height="200" id="img-1" class="border-0" />
           
            <div class="form-group mb-3">
                @*@Html.LabelFor(m => m.ImageName)*@
        <input type="hidden" name="ImageName" id="ImageName" value="@Model.ImageName" disabled />
            </div>

                <div class="form-group mb-3">
                    @*@Html.LabelFor(m => m.Alt)*@
        <input type="hidden" name="Alt" id="Alt" value="@Model.Alt" disabled required minlength="6" />
            </div>
    }

    </div>
</div>


<script>
    // Get imputs
    let fileInput = document.getElementById('myFile');
    let imageName = document.getElementById('ImageName');
    let alt = document.getElementById('Alt');
    let path = document.getElementById('Path');
    let img = document.getElementById('img-1');

    // Fires on file upload
    fileInput.addEventListener('change', function (event) {

        // Get file name
        let fileName = fileInput.files[0].name;
        let fn = fileName.replace(/\.[^/.]+$/, "")

        // Update file name in span
        imageName.setAttribute('value', fn);
        alt.setAttribute('value', fn + ' alt');
        path.setAttribute('value', '/images/' + fileName);

        img.src = URL.createObjectURL(fileInput.files[0]);
        img.setAttribute('width', 200);
        img.setAttribute('height', 200);
    });
</script>
