@model IEnumerable<core_strength_yoga_products_management.Models.Product>;

    @{
        //IEnumerable<ProductCategory> categories = ViewData["categories"] as IEnumerable<ProductCategory> ?? 
        //    throw new NullReferenceException($"Categories cannot be null in Product View");

        IEnumerable<ProductType> types = ViewData["types"] as IEnumerable<ProductType> ??
            throw new NullReferenceException($"Types cannot be null in Product View");

    }

<div class="form-floating mb-5">
    <a href="/Product/Add" class="btn btn-success">Add New Product <i class="fa-regular fa-plus"></i></a>
</div>
<div class="form-floating mb-3">
    <h5>Select By Product Type</h5>
    <form asp-controller="Product" asp-action="GetByType" method="get">
        <select id="@nameof(Product.ProductType)" name="productTypeId">
            <option value="0">Select All</option>
            @foreach (var type in types!)
            {
                <option value="@type.Id">@type.ProductTypeName</option>
            }
        </select>
        <input type="submit" class="btn-sm btn-primary">
    </form>
</div>
    

<table class="styled-table mb-3">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                Gender | Size | Colour | Stock Level
            </th>
            <th>
                Delete
            </th>
            <th>
                Edit
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductCategory.ProductCategoryName
                </td>
                <td>
                    @item.ProductType.ProductTypeName
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                @foreach (var attr in item.ProductAttributes)
                {
                    <p>@attr.Gender | @attr.Size | @attr.Colour | @attr.StockLevel</p>
                }
                </td>
                <td>
                    <a asp-action="DeleteProduct" asp-route-productId="@item.Id" class="btn btn-danger">
                        Delete
                        <i class="fa-solid fa-trash fa-fw"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-productId="@item.Id" class="btn btn-warning">
                        Edit
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </td>           
            </tr>
        }
    </tbody>
</table>
