@model IEnumerable<core_strength_yoga_products_management.Models.Product>;

    @{
        IEnumerable<ProductCategory> categories = ViewData["categories"] as IEnumerable<ProductCategory>;
        IEnumerable<ProductType> types = ViewData["types"] as IEnumerable<ProductType>;

    }
    <a href="/Product/Add" class="btn btn-success">Add</a>

<div>
    <form asp-controller="Product" asp-action="GetByCategory" method="get">
        <label for="">Choose a cat:</label>
        <select id="@nameof(Product.ProductCategory)" name="productCategoryId">
            @foreach (var cat in categories!)
            {
              <option value="@cat.Id">@cat.ProductCategoryName</option>
            }
        </select>
        <input type="submit">
    </form>
    <form asp-controller="Product" asp-action="GetByType" method="get">
        <label for="">Choose a type:</label>
        <select id="@nameof(Product.ProductType)" name="productTypeId">
            @foreach (var type in types!)
            {
                <option value="@type.Id">@type.ProductTypeName</option>
            }
        </select>
        <input type="submit">
    </form>
</div>

<h5>Table of Products</h5>
<table class="table mb-3">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProductType)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>


            <th>
                Gender | Size | Colour | Stock Level
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductCategory.ProductCategoryName
                </td>
                <td>
                    @item.ProductType.ProductTypeName
                </td>
                <td>
                    <a href="Product/ProductById/@item.Id">@item.Name</a>
                </td>
                <td>
                @foreach (var attr in item.ProductAttributes)
                {
                        <p>@attr.Gender | @attr.Size | @attr.Colour | @attr.StockLevel</p>
                }
                </td>
                <td>
                    <a asp-action="DeleteProduct" asp-route-productId="@item.Id" class="primary-btn checkout-btn">
                        Delete
                        <i class="fa-solid fa-trash fa-fw"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-productId="@item.Id" class="primary-btn checkout-btn">
                        Edit
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
<form>

</form>