@model core_strength_yoga_products_management.Models.Product

@{
    IEnumerable<SelectListItem> categories = ViewData["selectListItemsCategories"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> types = ViewData["selectListItemsTypes"] as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm("AddOrUpdate", "Product", FormMethod.Post))
{
@*    <p id="upload-product-success">Your product has been added to the database</p>
*@
    @Html.HiddenFor(m => m.Id);
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new{ @class = "form-control", required = true, placeholder = "Enter A Product Name", minlength="3", maxlength="50" })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.ProductCategory)
        @Html.DropDownListFor(m => m.ProductCategory.Id, categories, new{@class = "form-control", required = true})
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.ProductType)
        @Html.DropDownListFor(m => m.ProductType.Id, types, new{@class = "form-control", required = true})
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new{@class = "form-control", required = true})
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.FullPrice)
        @Html.TextBoxFor(m => m.FullPrice, new{@class = "form-control", required = true, type="number", min="0.00"})
    </div>    

    <div id="image" class="m-3 p-3 border border-dark rounded bg-light">
        @if (Model.Image != null)
        {
            @await Html.PartialAsync("Image", Model.Image)
        }    
    </div>

    <div id="product-attributes" class="m-3 p-3 border border-dark rounded bg-light">
        @if (Model.ProductAttributes != null)
        {
            @foreach (var attr in Model.ProductAttributes)
            {
                @await Html.PartialAsync("ProductAttribute", attr)
            }
        }
        <button id="add-new-attr" class="btn btn-warning">Add New Attribute</button>
    </div>

    <div class="text-center">
        <button onclick="productSuccess()"id="submitbtn" type="submit" class="btn btn-success">Update <i class="fa-regular fa-floppy-disk"></i></button>
    </div>
}

<script>
    const imageUploadSuccessMessage = document.querySelector('#upload-image-success');

    function imageSuccess() {
        imageUploadSuccessMessage.classList.add('show')
    }
    const productUploadSuccessMessage = document.querySelector('#upload-product-success');

    function productSuccess() {
        productUploadSuccessMessage.classList.add('show')
    }
</script>





