@model IEnumerable<core_strength_yoga_products_management.Models.StockAudit>

@{
    IEnumerable<ProductType> types = ViewData["types"] as IEnumerable<ProductType> ??
        throw new NullReferenceException($"Types cannot be null in Product View");
}
@*<div class="m-5">
<button href="/Reports/AuditReport" class="m-5 p-5 btn-info"><i class="fa fa-bar-chart" aria-hidden="true"></i></i> 
    Stock Audit Reports</button>
</div>
<div class="m-5">
<button href="/Reports/ProductReport" class="m-5 p-5"><i class="fa fa-line-chart" aria-hidden="true"></i></i>  
    Product Reports</button>
    </div>
*@



<form asp-action="FilterReport" method="post">
    <input type="datetime-local" id="date-start"name="date-start"/>
    <input type="datetime-local" id="date-end" name="date-end" />
    <input type="text" id="username" name="username"/>
    <select id="product-type" name="product-type">
    <option value="0">Select All</option>
    @foreach (var type in types!)
    {
        <option value="@type.Id">@type.ProductTypeName</option>
    }
    </select>

    <input type="submit" class="btn btn-primary"/>

@*    <section class="m-2">
        <div>Product Type</div>
        @foreach (var item in Model)
        {
            var @id = (int)item;
            var @isChecked = @id == item.Product.ProductType.Id || @id == 0 ? true : false;
            <input type="radio" name="productType" value="@id" checked="@isChecked" />

            @item.ToString()

            <br />
        }
    </section>*@
@*    <section class="m-2">
        <div>Size</div>
        @foreach (var value in @sizes)
        {
            var @id = (int)value;
            var @isChecked = @id == sizeId || @id == 0 ? true : false;
            <input type="radio" name="Size" value="@id" checked="@isChecked" />

            @value.ToString()

            <br />
        }
    </section>
    <section class="m-2">
        <div>Colour</div>
        @foreach (var value in @colours)
        {
            var @id = (int)value;
            var @isChecked = @id == colourId || @id == 0 ? true : false;
            <input type="radio" name="Colour" value="@id" checked="@isChecked" />

            @value.ToString()
            <br />
        }
    </section>*@
@*    <input type="submit" value="Filter" class="primary-btn checkout-btn" />*@
</form>


@if (Model != null && Model.Any())
{
    <table class="styled-table mb-3">
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    @* <td>@item.Product.Name</td>
                        <td>@item.ProductAttributes.Colour</td>
                         <td>@item.ProductAttributes.Size</td>
                        <td>@item.ProductAttributes.Gender</td>*@
                    <td>@item.OldStockLevel</td>
                    <td>@item.NewStockLevel</td>
                    <td>@item.StockLevelChange</td>
                    <td>@item.ChangedAt</td>


                </tr>
            }
        </tbody>
    </table>
}
