@model IEnumerable<core_strength_yoga_products_management.Models.StockAudit>

@{
    IEnumerable<ProductType> types = ViewData["types"] as IEnumerable<ProductType> ??
        throw new NullReferenceException($"Types cannot be null in Reports View");

    IEnumerable<Product> products = ViewData["products"] as IEnumerable<Product> ??
        throw new NullReferenceException($"Products cannot be null in Reports View");

    string? startDate = ViewData["date-start"] as string;
    string? endDate = ViewData["date-end"] as string;
    string? username = ViewData["username"]?.ToString() as string;
    string? productTypeId = ViewData["product-type"]?.ToString() as string;
    string? productId = ViewData["product"]?.ToString() as string;

}

<form asp-action="FilterReport" method="post">
    <label for="date-start">From</label>
    <input type="datetime-local" id="date-start" name="date-start" value="@startDate"/>
    <label for="date-end">To</label>
    <input type="datetime-local" id="date-end" name="date-end" value="@endDate"/>
    <label for="username">Username/Customer Name</label>
    <input type="text" id="username" name="username" value="@username"/>
    <label for="product">Product</label>
    <select id="product" name="product">
        @if(productId == "0" || productId == null)
        {
            <option value="0" selected>Select All</option>
        }
        else
        {
            <option value="0">Select All</option>
        }
        @foreach (var product in products!)
        {
            if (product.Id.ToString() == productId)
            {
                <option value="@product.Id" selected>@product.Name</option>
            }
            else
            {
                <option value="@product.Id">@product.Name</option>

            }
        }
    </select>
    <label for="product-type">Product Type</label>
    <select id="product-type" name="product-type">
        @if (productId == "0" || productId == null)
        {
            <option value="0" selected>Select All</option>
        }
        else
        {
            <option value="0">Select All</option>
        }

        @foreach (var type in types!)
        {
            if (type.Id.ToString() == productTypeId)
            {
                <option value="@type.Id" selected>@type.ProductTypeName</option>
            }
            else
            {
                <option value="@type.Id">@type.ProductTypeName</option>
            }

        }
    </select>

    <input type="submit" class="btn btn-primary"/>
 
</form>


@if (Model != null && Model.Any())
{
    <table class="styled-table mb-3">
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    @* <td>@item.Product.Name</td>
                        <td>@item.ProductAttributes.Colour</td>
                         <td>@item.ProductAttributes.Size</td>
                        <td>@item.ProductAttributes.Gender</td>*@
                    <td>@item.OldStockLevel</td>
                    <td>@item.NewStockLevel</td>
                    <td>@item.StockLevelChange</td>
                    <td>@item.ChangedAt</td>
                    <td>@item.ProductId</td>


                </tr>
            }
        </tbody>
    </table>
}
